#gesture-container {
    position:fixed !important;
	left:0px !important;
	top:0px !important;
	display:block !important;
	z-index:2147483647 !important;
	background:transparent !important;
	border:none !important;

    width:100% !important;
    height:100% !important;
}

#direction-container {
    background-color: transparent;
    border: none;
    pointer-events: none;
    position: fixed;
    z-index: 2147483640;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#direction-group {
    left: 50%;
    top: 50%;
    position: absolute;
    color: white;
    opacity: 0.6;
    font-size: 3em;
}

.direction-div {
    background-color: black;
    border: 5px solid black;
}
